# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.vsidx
*.ipch
/Solutions/helloworld/.vs
*.opendb
*.db-wal
*.db-shm
*.db
*.db
*.db
Solutions/VulkanGUI/.vs/VulkanGUI/v17/DocumentLayout.json
Solutions/VulkanGUI/.vs/VulkanGUI/v17/DocumentLayout.backup.json
Solutions/VulkanGUI/.vs/VulkanGUI/v17/Browse.VC.db
Solutions/VulkanGUI/.vs/VulkanGUI/v17/.suo
Solutions/VulkanGUI/VulkanGUI/x64/Release/VulkanGUI.iobj
Solutions/VulkanGUI/VulkanGUI/x64/Release/VulkanGUI.log
Solutions/helloworld/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdC/CompilerIdC.exe
Solutions/helloworld/out/build/x64-debug/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CompilerIdCXX.exe
Solutions/helloworld/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CompilerIdCXX.exe
Solutions/helloworld/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/CompilerIdC.exe
